.tabs__list {
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .tabs__item {
    list-style-type: none;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 20px;
    border: 1px solid #dfe5ec;
    font-weight: 600;
  }
  .tabs__list li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
  }
  .tabs__list li:nth-child(2) {
    border-right: none;
  }
  .tabs__list li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .isSelected {
    background: #2196f3;
    color: #fff;
  }

  @media (max-width: 768px) {
    .tabs__list {
      margin-bottom: 1em;
    }
    .tabs__item{
      padding: 10px;
      font-size: 16px;
    }
  }

 