.ticket {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 1.5em;
  cursor: default;
}
.ticket__header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}
.ticket__price {
  font-size: 2em;
  color: #2196f3;
}
.ticket__forward,
.ticket__back {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.ticket__forward__route,
.ticket__forward__lenght,
.ticket__forward__stops,
.ticket__back__route,
.ticket__back__lenght,
.ticket__back__stops {
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  font-weight: 600;
  width: 25%;
}
.ticket__route,
.ticket__lenght,
.ticket__stops {
  color: #a0b0b9;
}
.ticket__lenght,
.ticket__time {
  text-align: center;
}
@media (max-width: 768px) {
  .ticket {
    margin-bottom: 1em;
  }
  .ticket__header {
    padding: 0.8em 0.8em 0 0.8em;
  }
  .ticket__price {
    font-size: 1.8em;
  }
  .ticket__forward,
  .ticket__back {
    padding: 0.8em;
  }
}
